 #mapid {
            height: 680px;
            width: 1000px;
            border: 1px solid black;
        }

input {
    height: 50px;
    border: 1px black solid;
    border-radius: 15%;
    font: 16px;
    text-align: center;
}