
input {
    height: 60px;
    border: 1px black solid;
    border-radius: 15%;
    font: 16px;
    text-align: center;
}


textarea {
    border: 1px black solid;
    margin-left: 20px;
    
}

header {
    background-color: cornsilk;
    height: 60px;
    margin-bottom: 1%;
}